<%- include('../partials/header') %>
    <h1>Tickets</h1>    

<form action="/flights/<%=flightId%>/tickets" method="POST">
    <!--you create the id url relationship, we're only doing this full path to save the id, but this goes to the tickets router-->
    <input name="seat" required pattern="[A-F][1-9]\d?">Seat: </input>
    <input type="number" name="price">Price: </input> <br>
    <button type='submit'>Submit</button>
</form>

<%- include('../partials/footer') %>