<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome To <%= title %>  </p>


      
      <a href="/flights">
        <button>Show All Flights</button>
      </a>
  </body>
</html>

