<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% flights.forEach(function(s, idx) { %>
          <li><%=s%></li>
       <% }) %>
  
      </ul>
  </body>
</html>

