body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/hk6PiUd.jpg');
  background-position-x: 2rem;
  background-repeat: no-repeat;
}

a {
  color: black;
}
header {
  background-image: 'https://i.imgur.com/qhaWBz4.jpg';
}

footer {
  background-color: whitesmoke;
}